*.o
*.d
*.asm
*.module
*.map
*.out
src/drivers/virtual/vbios/code16*
src/drivers/virtual/vbios/*.o16
src/output
src/kernel/modules/linker.script
src/kernel/modules/mdump
src/kernel/modules/mld
src/kernel/modules/mstrip
src/shell/shell
src/tools/bbin
src/tools/bbin16
src/tools/bsc
src/tools/btoa
src/tools/disasm
src/tools/e2b
src/tools/makeimage
src/tools/sbb
src/tools/sysdisk
